@model Turboo_playstore.ViewModels.ProductViewModel

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <h1>Details</h1>

    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                ImageView
            </dt>
            <dd class="col-sm-10">
                @if (Model.ImageView != null)
                {
                    <img src="~/Uploads/@Model.ImageView" class="product-photo card-img-top" alt="..." />
                }
                else
                {
                    <img src="~/Uploads/default.png" class="product-photo card-img-top" alt="..." />
                }
            </dd>
            <dt class="col-sm-2">
                Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                Description
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Type
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                Brand
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand)
            </dd>
            <dt class="col-sm-2">
                Whole Sale Price
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.WholeSalePrice)
            </dd>
            <dt class="col-sm-2">
                Selling Price
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SellingPrice)
            </dd>
            <dt class="col-sm-2">
                Quantity
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Quantity)
            </dd>
            <dt class="col-sm-2">
                CategoryId
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="EditProduct" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>